<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-Documentequiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1><p style="text-align:center">Bienvenidos a la pestaña del primer familiar</p></h1>
    <h2>La primera persona de la lista es: <p style="color:blue;">{{nombre}} {{apellido}}.</p>De sobre nombre "{{apodo}}".Tiene un ID número {{ID}}.</h2>
    <h3>Nació el {{fechaNacimiento}}. Su profesión actual está marcada como "{{profesion}}" y se puede contactar a través del correo: {{email}}.</h3>
</body>
</html>